
<!-- start banner area -->
<section class="banner-area relative" id="home">
<div class="slider">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

<div class="carousel-inner" role="listbox">
<div class="carousel-item active" style='background-image: url("{{ "/splash/image1.png" | relURL }}")'></div>
<div class="carousel-item" style='background-image: url("{{ "/splash/image2.jpg" | relURL }}")'></div>
<div class="carousel-item" style='background-image: url("{{ "/splash/image3.jpg" | relURL }}")'></div>
</div>

<div class="carousel-caption d-md-block">
<p style="font-size:150%">art by</p>
<h2 style="font-size:200%" class="text-uppercase">Danielle Navarro</h2>
</div>

<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>

<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
</section>
<!-- End banner Area -->

