<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700">
<link rel="stylesheet" href="{{ "/css/bootstrap.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/highlight.css" | relURL }}" title='hl'>

{{ range .Params.html_dependencies }}
  {{ . | safeHTML }}
{{ end }}

<!-- mobile specific meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- meta character set -->
<meta charset="UTF-8">

<!-- twitter card type -->
<meta name="twitter:card" content="summary_large_image">

<!-- title for the card comes from page title -->
<meta name="twitter:title" content="{{.Title}}"/>
<meta name="og:title" content="{{.Title}}"/>

<!-- URL for card image combines site parameter in config.toml with page trailer path -->
<meta name="twitter:image:src" content="{{.Site.Params.Site}}{{.Params.Trailer | relURL}}"/>
<meta name="og:image" content="{{.Site.Params.Site}}{{.Params.Trailer | relURL}}"/>

<!-- read URL from the site parameter in config.toml -->
<meta name="og:url" content="{{.Site.Params.Site}}"/>
<meta name="twitter:url" content="{{.Site.Params.Site}}"/>


{{ partial "head_custom.html" . }}

</head>
