<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700">
<link rel="stylesheet" href="{{ "/css/bootstrap.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/nice-select.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/highlight.css" | relURL }}" title='hl'>

{{ range .Params.html_dependencies }}
  {{ . | safeHTML }}
{{ end }}

{{ partial "head_custom.html" . }}

</head>
