
<!-- start navbar -->
<header class="default-header">
<div class="container">
<div class="header-wrap">
<div class="header-top d-flex justify-content-between align-items-center">
<div class="logo">
<a href="/"><img src="splash/logo.png" alt=""></a>
</div>
<div class="main-menubar d-flex align-items-center">
<nav class="hide">
  This menu currently does nothing :-)
<!--<a href="#home">Home</a>
<a href="#quarantine">Quarantine</a>
<a href="#scope">Scope</a>-->
</nav>
<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
</div>
</div>
</div>
</div>
</header>

<!-- end navbar -->
