
<!-- start splash area -->
<section>
  <div class="splash-container">
    <div class="splash-image" style='background-image: url("{{ .Params.Splash.Image }}");'></div>
    <div class="splash-caption-container">

        {{ if isset .Params.Splash "prefix" }}
          <div class="splash-caption-prefix">
            {{ .Params.Splash.Prefix | markdownify }}
          </div>
        {{ end }}

        {{ if isset .Params.Splash "caption" }}
          <div class="splash-caption-main">
            <div class="splash-caption-tweak">
              {{ .Params.Splash.Caption | markdownify }}
            </div>
          </div>
        {{ end }}

        {{ if isset .Params.Splash "suffix" }}
          <div class="splash-caption-suffix">
            {{ .Params.Splash.Suffix | markdownify }}
          </div>
        {{ end }}
    </div>
  </div>
</section>
<!-- end splash area -->

