
<!-- start banner area -->
<section class="banner-area relative" id="home">
<div class="slider">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

<div class="carousel-item active" style='background-image: url("{{ "/splash/image1.png" | relURL }}")'>
</div>

<div class="carousel-caption d-md-block">
<p style="font-size:150%">art by</p>
<h2 style="font-size:200%" class="text-uppercase">Danielle Navarro</h2>
</div>

</div>
</div>
</section>
<!-- End banner Area -->

