
<!-- start splash area -->
<section>
  <div class="splash-container">
    <div class="splash-image"></div>
    <div class="splash-caption-container">

        {{ if isset .Params "prefix" }}
          <div class="splash-caption-prefix">
            {{ .Params.Prefix | markdownify }}
          </div>
        {{ end }}

        {{ if isset .Params "caption" }}
          <div class="splash-caption-main">
            {{ .Params.Caption | markdownify }}
          </div>
        {{ end }}

        {{ if isset .Params "suffix" }}
          <div class="splash-caption-suffix">
            {{ .Params.Suffix | markdownify }}
          </div>
        {{ end }}
    </div>
  </div>
</section>
<!-- end splash area -->

